.previewPhoto{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.formSeeker{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
}

.seekerInp{
    margin-bottom: 3rem;
    border: 2.5px solid #1d21249b;
    border-radius: 10px;
    width: 35rem;
    height: 2.2rem;
    
}
.seekerInp:focus{
    outline: none;
}

.searchBar{
    display: flex;
    justify-content: center;
}

.deleteSearchButton{
    width: 1.8rem;
    height: 1.8rem;
    padding: 0;
    padding-bottom: 0rem;
    border-radius: 100%;
}

.resultsGrid{
    justify-self: center;
    width: 70rem;
    margin-top: 8rem;
    padding: 2rem 2rem;
    border: 2px solid rgba(168, 167, 167, 0.836);
    border-radius: 10px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.767);
}

.bkg2{
    background-color: black;
    min-height: 74.2vh;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../../Assets/Images/Bkg\ set.png");
    background-size: contain;
}

.btnSearch{
    height: 2.2rem;
    margin-left: 1rem;
    padding: 0.2rem 1.2rem 1.2rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.774);
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    
}


