.previewPhoto{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.formSeeker{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
}

.seekerInp{
    border: 2.5px solid #1d21249b;
    border-radius: 10px;
    width: 35rem;
    height: 2.2rem;
    
}
.seekerInp:focus{
    outline: none;
}

.searchBar{
    display: flex;
    justify-content: center;
}

.deleteSearchButton{
    width: 2.2rem;
    height: 2.2rem;
    padding: 0;
    border-radius: 5px;
    margin-left: .2rem ;
    
}

.resultsGrid{
    justify-self: center;
    width: 70rem;
    margin-top: 8rem;
    padding: 2rem 2rem;
    border: 2px solid rgba(168, 167, 167, 0.836);
    border-radius: 10px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.767);
}

.bkg2{
    background-color: black;
    min-height: 74.2vh;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../../Assets/Images/Bkg\ set.png");
    background-size: contain;
}

.btnSearch{
    height: 2.2rem;
    margin-left: 1rem;
    padding: 0.2rem 1.2rem 1.2rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.774);
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}

.alert{
    display: flex;
    width: 25.5rem;
    justify-content: space-between;
    padding: 0 .2rem 0 1rem;
    line-height: 1rem;
    border-radius: 10px;
    font-size: .8rem;
    margin-top: .1rem;
    font-weight: 700;
    margin-right: 9rem;
}

.alertBut{
    font-size: .7rem;
    font-weight: 700;
    line-height: 0;
    padding: 0rem .2rem 0rem .2rem;
    border-radius: 100%;
    border: 2p solid black;
}

.hide{
    visibility: hidden;
}

.line{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


