.cardGrid{
    margin-bottom: 100px;
    justify-content: space-between;
    margin: 0rem 1rem 1rem 3rem;
    padding: 2.5rem 0rem 2rem 0rem;
    padding-bottom: 1rem;
    border: 2px solid rgba(128, 128, 128, 0.377);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.712);
}

.card{
    display: flex;
    justify-content: center;
}

